body {
    margin: 0;
    padding: 0;
    background-color: #A27B5C;
}

#top{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    flex: 0.65;
    
} 
.navbar ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
} 
.navbar ul li{
    
    padding-left: 10%;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 1.3vw;
    color: #FDF7E4;
}
.navbar ul li a:hover{
    color: black;
}
.logo{
    flex: 1;
    text-align: center;
 
}

.logo img{
    height: 13vh;
    width: auto;
}
.reservation-space{
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4%;
}
.reservation-button{
    padding: 1vh 2vw;
    border: 2px solid #FDF7E4; 
    color: #FDF7E4;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    cursor: pointer;
}
.reservation-button:hover {
    background-color: #FDF7E4;
    color: #A27B5C;
    transition: background-color 1.0s ease;
    opacity: 1;
}

.slideshow{
    width: 100%;
    height: 90vh;
    margin: 0; 
    padding: 0;
    background-image: url(/Photos/PORTADA1.jpg);
    background-size: cover; 
    background-position: center; 
    position: relative;
    opacity: 0.9;
}
.slideshow-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FDF7E4; 
    z-index: 1;
  }
  .slideshow-content h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .slideshow-content p {
    font-size: 18px;
  }
  .slideshow-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    color: #FDF7E4;
    border: 1px solid #A27B5C;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slideshow-button:hover {
    background-color: #A27B5C;
    color: #FDF7E4;
    opacity: 1;
} 

.aboutus-content{
    text-align: center;
    height: 80%;
    width: 60%;
    margin: auto;
    padding-top: 5%;
    color: #FDF7E4;
}
.aboutus-content h2 {
    font-family: "Anton";
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 30px;
}

.aboutus-content p {
    font-size: 30px; 
    line-height: 1.8; 
    font-family: "Anton";
    font-weight: 400;
    font-style: normal;
}

.divisor-pagina{
    text-align: center;
    font-size: 100px;
    color: #FDF7E4;
}
.menu-home{
    text-align: center;
    height: 652px;
    width: 100%;
    color: #FDF7E4;
}
.menu-home-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    height: 60vh;
    padding-left: 8%;
}
.hijo{
    border: #FDF7E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-home-items img{
    width: 40%;
    height: 40%;
    border-radius: 50px;
}

.menu-home-item{
    flex: 1;
    border: 0.5px solid;
}

.menu-home-description{
    font-family: "Anton";

}


.reservation-home{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente en la página */
    justify-content: center; /* Centra verticalmente en la página */
    height: 100vh; 
    color: #FDF7E4;
    margin-bottom: 20vh;
}

.reservation-home h2{
    font-family: "Anton";
    margin: 0;
    padding: 0;
    height: 5vh;
    font-size: 80px;
}

.reservation-home p{
    font-family: "Anton";
    margin-top: 6%;
    margin-bottom: 3%;
    font-size: 20px;
    font-weight: 100;
}

.reservation-content {
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px; /* Espacio entre elementos */
}

label {
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 300px; /* Establece un ancho máximo para el etiqueta */
    text-align: left; /* Alinea el texto a la izquierda */
}

input{
    width: 90%;
    height: 7vh;
    font-size: large;
    color: #FDF7E4;
    background-color: #A27B5C;
    caret-color:#FDF7E4;
    border: none;
    border-bottom: 0.5px solid black;  
    outline: none; 
}

input:focus{
    border-bottom: 0.5px solid #FDF7E4; /* o el color que desees */

}
input::placeholder{
    color: #FDF7E4;
}

select{
    width: 90%;
    height: 3vh;
    border: none;
    font-size: 15px;
    background-color: #A27B5C;
    color: #FDF7E4;
    gap: 10px;
}

button{
    padding: 2vh 4vw;
    border: 2px solid #FDF7E4; 
    color: #FDF7E4;
    background-color: #A27B5C;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1.6vw;
    cursor: pointer;
}

button:hover {
    background-color: #FDF7E4;
    color: #A27B5C;
    transition: background-color 1.0s ease;
    opacity: 1;
}

footer{
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color:#b58c67;
}
.footer-1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbarf{
    width: 40%;
    justify-content: center;
}
.navbarf ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.navbarf ul li{
    margin-right: 5%;
}
.navbarf ul li a{
    text-decoration: none;
    font-size: 1.3vw;
    color: #FDF7E4;
}
.navbarf ul li:last-child{
    margin-right: 0;
}
.navbarf ul li a:hover{
    color: black;
}

.logof{
    height: 17vh;
}
.logof img{
    height: 20vh;
    width: auto;
}

hr{
    border: none;
    height: 0.3vh;
    background-color: rgba(0, 0, 0, 0.2);
    width: 303vh;
}

.footer-2{
    color: #FDF7E4;
    
}
.footer-2 p{
    text-align:center ;
}
@media screen and (max-width: 768px) {
    #top {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    .navbar {
        order: 2;
        margin: 0;
    }
    
    .logo {
        order: 1;
        height: auto;
    }

    .reservation-space {
        order: 3;
        margin-top: 10px;
    }

    .aboutus-content {
        width: 90%;
        padding-top: 5%;
    }

    .aboutus-content h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .aboutus-content p {
        font-size: 16px; 
        line-height: 1.5; 
    }
    .slideshow {
        height: 50vh; /* Reducimos la altura del slideshow */
    }
    
    .slideshow-content h2 {
        font-size: 24px; 
        margin-bottom: 5px; 
    }
    
    .slideshow-content p {
        font-size: 14px;
        top: 70%;
    }
    
    .slideshow-button {
        padding: 8px 16px; 
        font-size: 14px; 
    }
}