body {
    margin: 0;
    padding: 0;
    background-color: #A27B5C;
}

#top{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    flex: 0.65;
    
} 
.navbar ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
} 
.navbar ul li{
    
    padding-left: 10%;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 1.3vw;
    color: #FDF7E4;
}
.navbar ul li a:hover{
    color: black;
}
.logo{
    flex: 1;
    text-align: center;
 
}

.logo img{
    height: 13vh;
    width: auto;
}
.reservation-space{
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4%;
}
.reservation-button{
    padding: 1vh 2vw;
    border: 2px solid #FDF7E4; 
    color: #FDF7E4;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    cursor: pointer;
}
.reservation-button:hover {
    background-color: #FDF7E4;
    color: #A27B5C;
    transition: background-color 1.0s ease;
    opacity: 1;
}

.slideshow{
    width: 100%;
    height: 65vh;
    margin: 0; 
    padding: 0;
    background-image: url(/Photos/PORTADA3.jpg);
    background-size: cover; 
     /* background-repeat: no-repeat;  */
    background-position:center -120% ; 
    position: relative;
    opacity: 0.9;
}
.slideshow::before{
    content: "";
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.2);
}
.slideshow-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FDF7E4; 
    z-index: 1;
  }
  .slideshow-content h2 {
    font-size: 68px;
    margin-bottom: 10px;
    font-family: "Anton";
  }
  
  .slideshow-content p {
    font-size: 20px;
  }

.menu{
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin-top: 5vh;
}
.menu-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 90vh;
}
.menu-item {
    width: 90%; 
    height: 80%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

}

.item-img{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin: 0; 
    padding: 0;
    background-image: url(/Photos/PORTADA3.jpg);
    background-size: cover; 
    position: relative;

}
/* .menu-item img{
    max-width: 40%; 
    max-height: 70%; 
    border-radius: 50%;
    object-fit: cover;
} */

.item-details{
}

.divisor-pagina{
    text-align: center;
    font-weight: lighter;
    font-size: 100px;
    color: #FDF7E4;
}

.reservation-menu{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente en la página */
    justify-content: center; /* Centra verticalmente en la página */
    height: 100vh; 
    color: #FDF7E4;
}

.reservation-menu h2{
    font-family: "Anton";
    margin: 0;
    padding: 0;
    height: 5vh;
    font-size: 80px;
}

.reservation-menu p{
    font-family: "Anton";
    margin-top: 6%;
    margin-bottom: 3%;
    font-size: 20px;
    font-weight: 100;
}

.reservation-content {
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px; /* Espacio entre elementos */
}

label {
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 300px; /* Establece un ancho máximo para el etiqueta */
    text-align: left; /* Alinea el texto a la izquierda */
}

input{
    width: 90%;
    height: 7vh;
    font-size: large;
    color: #FDF7E4;
    background-color: #A27B5C;
    caret-color:#FDF7E4;
    border: none;
    border-bottom: 0.5px solid black;  
    outline: none; 
}

input:focus{
    border-bottom: 0.5px solid #FDF7E4; /* o el color que desees */

}
input::placeholder{
    color: #FDF7E4;
}

select{
    width: 90%;
    height: 3vh;
    border: none;
    font-size: 15px;
    background-color: #A27B5C;
    color: #FDF7E4;
    gap: 10px;
}

button{
    padding: 2vh 4vw;
    border: 2px solid #FDF7E4; 
    color: #FDF7E4;
    background-color: #A27B5C;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1.6vw;
    cursor: pointer;
}

button:hover {
    background-color: #FDF7E4;
    color: #A27B5C;
    transition: background-color 1.0s ease;
    opacity: 1;
}